.table_img img {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
}

tbody i{
    cursor: pointer;
}
.total_amount {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;

}
.total_amount span{
    font-size:  20px;
    line-height: 20px;
}
.total_amount p{
    display: block;
    color: gray;

}
.btn{
    float: right;
}
.contbtn{
    display: flex;
    justify-content: center;
    margin: 10px ;   
    text-decoration: none;
}
.contbtn button{
display: flex;
justify-content: center;
border: none;
font-size: 20px;
outline: none;
background-color:#2b95c8;
color: white;
padding: 10px 10px ;
border-radius: 5px;

}