.section {
    overflow-y: hidden;
    background: #334757;
    color: #e5e5e5;
    height: 450px;
    margin-top: 23px;
}
.swipper{
    width: 100%;
    padding: 0px 30px;
}
.swip  img{
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.content_sub {
    line-height: 30px;
    margin-top: 10px;
}

.shop_btn {
    border: none;
    outline: none;
    background: #0c1d25;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;

}

.hero_img img {
    width: 300px;
    height: 300px;
    align-items: center;
    float: right;
    margin-top: 60px;
}

.heading {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.trending_sale {
    /* display: flex; */
    overflow-wrap: break-word;
}

.best_sale {
    overflow-y: hidden;
    /* overflow-wrap: break-word; */
}

.counter_page {
    background-color: #242644;
    color: #fff;

}

.counter_btn {
    outline: none;
    border: none;
    color: #e5e5e5;
    background-color: #5f6096;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {



    .section {
        overflow-y: hidden;
        background: #334757;
        color: #e5e5e5;
        height: 300px;
        margin-top: 60px;
        
    }

    .content_sub {
        line-height: 30px;
        margin-top: 10px;
    }

    .shop_btn {
        border: none;
        outline: none;
        background: #0c1d25;
        color: #fff;
        display: flex;
        justify-content: center;

        /* text-align: center; */
        border-radius: 5px;
        font-size: 18px;

    }

    .hero_img img {
        width: 300px;
        height: 300px;
        justify-content: center;
        align-items: center;

        display: none;

        /* float: left; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        margin-top: 60px;
    }

    .heading {
        font-weight: 700;
        font-size: 20px;
        color: #fff;
    }

    .trending_sale {
        /* display: flex; */
        overflow-wrap: break-word;
    }

    .best_sale {
        overflow-y: hidden;
        /* overflow-wrap: break-word; */
    }

    .counter_page {
        background-color: #242644;
        color: #fff;

    }

    .counter_btn {
        outline: none;
        border: none;
        color: #e5e5e5;
        background-color: #5f6096;
        border-radius: 10px;
    }


}
@media only screen and (max-width: 770px) {


    .section {
        overflow-y: hidden;
        background: none;
        color: #e5e5e5;
        height: 300px;
        margin-top: 10px;
        
    }
    .swipper{
        /* width: 100%; */
        padding: 0px 0px;
    }
    .swip  img{
        object-fit: cover;
        height: 300px;
        width: 100%;
    }

    .content_sub {
        line-height: 30px;
        margin-top: 10px;
    }

    .shop_btn {
        border: none;
        outline: none;
        background: #0c1d25;
        color: #fff;
        display: flex;
        justify-content: center;

        /* text-align: center; */
        border-radius: 5px;
        font-size: 18px;

    }

    .hero_img img {
        width: 250px;
        height: 250px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .heading {
        font-weight: 700;
        font-size: 20px;
        color: #fff;
    }

    .trending_sale {
        /* display: flex; */
        overflow-wrap: break-word;
    }

    .best_sale {
        overflow-y: hidden;
        /* overflow-wrap: break-word; */
    }

    .counter_page {
        background-color: #242644;
        color: #fff;

    }

    .counter_btn {
        outline: none;
        border: none;
        color: #e5e5e5;
        background-color: #5f6096;
        border-radius: 10px;
    }


}