.order_card .unpaid {
    border-radius: 8px;
    /* border: 1px solid black; */
    padding: 10px 20px;
    margin: 10px 0px;
    background-color:#d7324a;
    color: #fff;
}

.order_card .paid {
    border-radius: 8px;
    /* border: 1px solid black; */
    padding: 10px 20px;
    margin: 10px 0px;
    background-color: #8cff8c;
    color: #000;
}

.order_details p {
    font-size: 20px;
    font-weight: 500;
}
.toggle-button{
    border: none;
    outline: none;
    background-color: #8cff8c;
    border-radius: 8px;

}
.toggle-button:hover{
    border: none;
    outline: none;
    background-color: #26d02f;
    border-radius: 8px;
    
}