.navbar {
    height: 60px;
    display: flex;
    position: fixed;
    /* justify-content: space-between; */
    margin: 0px;
    padding: 0px;
    /* top: 70px; */

}

.logo img {
    height: 35px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.active {
    font-weight: 600;

}

.logo {

    display: flex;
    /* flex-direction: row; */
    float: inline-start;
}

.stickey_header {
    z-index: 999;
    width: 100%;
    height: 70px;
    position: fixed;
    /* line-height: 70px; */
    top: 0;
    left: 0;
    background-color: aliceblue;
}

.nav_icon .profile img {
    height: 30px;
 cursor: pointer;
 width: 30px;
 border-radius: 50%;
    margin-bottom: 10px;
}
.nav_icon.profile{
    position: relative;
    z-index: 10;
}
.profile_action{
/* position: absolute;
top: 100%;
right: 0%;
width: 150px;
z-index: 15;

padding: 10px;
display: flex;
display: none;
cursor: pointer;
align-items: center;
flex-direction: column;
background-color: aliceblue; */
/* display: none; */
position: absolute;
top: 100%;
right: 0%;

border-radius: 5px;
display: flex;
align-items: center;
flex-direction: column;
background-color: aliceblue;
/* margin-left: 10px; */
padding: 15px;
cursor: pointer;

}
.show_profile_action{
display: block;
position: absolute;
top: 100%;
right: 0%;
width: 150px;
z-index: 15;
padding: 10px;
display: flex;
display: none;
cursor: pointer;
align-items: center;
flex-direction: column;
background-color: aliceblue;


    
}
.nav_icon {
    font-size: 20px;
    margin-left: 20px;
    display: flex;
}

.menu {
    list-style: none;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    /* padding-top: 20px; */
    /* justify-content: end; */
    /* align-items: end; */
}

.navigation {
    /* display: flex; */
    position: relative;
    /* position: fixed; */
    color: #666;
    display: inline-block;
    text-align: center;
    margin: 0;
    z-index: 9999;
    /* text-transform: uppercase; */
}

.navigation p:after {
    display: block;
    content: '';
    border-bottom: solid 3px #019fb6;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.list {
    display: inline-block;
    color: #ff0000;
    text-decoration: none;
}

.list::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #008cff;
    transition: width .5s;
}

.list:hover::after {
    width: 78%;
    /* //transition: width .3s; */
}

Link {
    text-decoration: none;
    color: black;
    margin-left: 20px;

}

.fav_icon,
.cart_icon {
    position: relative;
    cursor: pointer;
    /* display: flex; */
    font-size: 25px;
}

.bandage {
    position: absolute;
    bottom: 60%;
    left: 80%;
    height: 20px;
    width: 20px;
    color: aliceblue;
    background-color: #852222;
    border-radius: 55%;
    font-size: 15px;
    text-align: center;

}

.mobile_menu {

    display: none;
}



@media only screen and (max-width: 600px) {
    .navigation {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 999;
        scroll-behavior: smooth;
        display: none;
        background-color: rgba(0, 0, 0, 0.473);
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 240px;
        height: 100%;
        background-color: whitesmoke;
        flex-direction: column;
        z-index: 999999999;
padding-top: 20px;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        /* display: flex; */
    }

    .mobile_menu {
        display: inline-block;

    }
    .active_menu{
        display: inline-block;
    }

    .fav_icon,
    .cart_icon {
        position: relative;
        cursor: pointer;
        /* display: flex; */
        font-size: 15px;
    }

    .bandage {
        position: absolute;
        bottom: 60%;
        left: 80%;
        height: 15px;
        width: 15px;
        color: aliceblue;
        background-color: #852222;
        border-radius: 55%;
        font-size: 10px;
        text-align: center;

    }

    .logo {
        margin-top: 5px;
    }

    .navbar {
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;

    }

    .stickey_header {
        z-index: 999;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: aliceblue;
    }




.nav_icon .profile img {
    height: 30px;
 cursor: pointer;
 border-radius: 50%;
    margin-bottom: 10px;
}
.nav_icon.profile{
    position: relative;
    z-index: 10;
    /* display: none; */
}
.nav_icon .profile .profile_action{
/* position: absolute;
top: 100%;
right: 0%;
width: 150px;
z-index: 15;

padding: 10px;
display: flex;
display: none;
cursor: pointer;
align-items: center;
flex-direction: column;
background-color: aliceblue; */
/* display: none; */
position: absolute;
top: 100%;
margin-top: 10px;
border-radius: 5px;
background-color: aliceblue;
padding: 15px;
cursor: pointer;
/* display: none; */
}
.show_profile_action{
display: none;
position: absolute;
top: 100%;
right: 0%;
width: 150px;
z-index: 15;
padding: 10px;
display: flex;
display: none;
cursor: pointer;
align-items: center;
flex-direction: column;
background-color: rgb(18, 127, 223);


    
}
.logo_img{display: none;}
}