@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rubik&display=swap');

.App{
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    /* overflow-y: hidden; */
}